body{
    background-color: gray ;
    display: flex ;
    margin: 0px ;
    padding: 0px ;
}
section{
    background-color: white;
    width: 400px ;
    height: 200px ;
    margin: auto ;
    text-align: center ;
    vertical-align: middle ;
    
    
}form{
    height: 100% ;
    width: 100% ;
}
input{
    width: 315px ;
    text-align: center ;
}
button{
      
}
#back{
    height: 20px ;
    z-index : 100 ;
    margin-top: 10px ;
    position: absolute ;
    left: 2% ;
    top : 2% ;
}
